
#submitMsg
{
	width: 280px;
}

#contactSect
{
	color: white;
	font-family: 'open_sansregular';
	margin: 30px auto 60px;
	text-align: center;
}

#contactSect h3
{
	font-family: 'glacial_indifferencebold';
	font-size: 36px;
	margin-bottom: 100px;
}

#contactForm
{
	display: flex;
	flex-direction: column;
	width: 290px;
	color: white;
	padding-top: 50px;
	margin: 0 auto !important;
	
}

#greenBck 
{
	background-color: #223822;
}

#contactForm label
{
	margin-bottom: 30px;
	padding-top: 30px;
	text-align: left;
}

#contactForm input 
{
	padding-bottom: 15px;
	width: 280px;

}

#mailInfo
{
	color: white;
	font-family: 'open_sansregular';
	margin: 20px auto;
	font-weight: bold;
}

#mailInfo h5
{	
	font-size: 30px;
	margin: 0 auto;
	padding-bottom: 10px;
}

#mailInfo p
{
	width: 250px;
	text-align: left;
	margin: 0 auto;
	line-height: 22px;
}

#mapDiv 
{
	margin: 0 auto;
}

#map 
{
	display: flex;
	flex-direction: column;
}

#map h4
{
	font-size: 18px;
	padding-bottom: 30px;
	padding-top: 20px;
	line-height: 24px;
	width: 320px;
	margin: 0 auto !important;
}

#location
{
	text-align: center !important;
}

#map p
{
	font-size: 18px;
	padding-top: 30px;
	width: 250px;
	margin: 0 auto !important;
	text-align: left;
	justify-content: center;
}

#map iframe
{	
	margin: 0 auto !important;
	width: 250px;
	height: 250px;
}

#submitBtn
{
	margin: 15px auto;
	width: 125px;
	background-color: gray;
	border: 2px solid black;
	font-size: 18px;
	padding-top: 10px;
	height: 30px;
	margin-bottom: 20px;
}
#submitBtn a
{
	color: white;
	text-decoration: none;
}

@media screen and (min-width:640px)
{
#contactSect
{
	display: flex;
	width: 600px;
}

#contactSect h3
{
	font-size: 36px;
	margin-bottom: 100px;
}

#contactForm
{
	display: flex;
	width: 350px;
	color: white;
	margin-top: -550px;
	padding-top: 50px;
}

#contactForm label
{
	margin-bottom: 30px;
	padding-top: 30px;
	text-align: left;
}

#contactForm input 
{
	padding-bottom: 15px;
}

#mailInfo
{
	margin-left: -290px;
}

#mailInfo h5
{
	margin-top: 40px;
}
}

@media screen and (min-width: 1250px) {
	#mapDiv {
		margin-left: 15% !important;
	}
}

@media screen and (min-width: 1419px) {
	#mailInfo {
		margin-left: -500px !important;
	}
}

@media screen and (min-width: 1646px) {
	#mailInfo {
		margin-left: -570px !important;
	}
}

@media screen and (min-width: 1780px) {
	#mailInfo {
		margin-left: -670px !important;
	}
}


@media screen and (min-width: 1080px) {
	      #burgerMenu li:nth-child(3) {
    margin-top: 10px !important;
}

	.topNav ul li {
		margin-top: 10px;
	}
#contactSect
{
	color: white;
	width: 60%;
	margin: 250px auto 60px;
	text-align: center;
	background-color: #223822;
	padding: 50px 150px 0 150px;
}

#submitBtn {
	margin: 15px 0;
}

#mapDiv {
	margin-left: 5%;
}

#contactSect h3
{
	font-size: 36px;
	margin-bottom: 100px;
}

#contactForm {
	margin-left: -50px !important;
	padding-right: 70px;
}


#contactForm label
{
	margin-bottom: 30px;
	padding-top: 30px;
	text-align: left;
}

#contactForm input 
{
	padding-bottom: 15px;
}

#contactWhiteBar
{
	height: 520px;
	width: 2px;
	background-color: white;
	margin: -800px auto;
}

#mailInfo
{
	margin-top: -90px;
	margin-bottom: 50px;
	margin-left: -450px;
}

#map iframe {
	width: 450px;
	height: 450px;
}

#map p {
	width: 450px;
}

#mailInfo p {
	width: 300px;
}

#greenBck {
	background-color: rgba(0,0,0,0);
}
}