html
{
	font-family: 'Lato', sans-serif;
	color: white;
	width: 
}

#homeBck
{
	background-color: lightgray;
	background-repeat: no-repeat;
	background-size: cover;

}

.hidden
{
	display: none;
}

.blackBar
{
	background-color: rgba(51, 51, 51, 0.5);
	margin: 60px auto 0;
	height: 75px;
}


.topNav ul
{
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: space-evenly;
}

.topNav ul li
{
	padding: 25px 15px 0 20px;
	letter-spacing: 2px;
}

.topNav ul li a
{
	font-size: 20px;
	color: white;
	text-decoration: none;
}

#logo
{
	background-color: #333333;
	width: 20%;
	margin-top: -15px;
	height: 200px; 
}

#logo p
{
	text-align: center;
	font-size: 32px;
	padding-top: 75px;
}

#title
{
	background-color: #333333;
	display: flex;
	width: 70%;
	height: 400px;
	margin: 175px auto;
	font-size: 40px;
	align-items: center;
	justify-content: center;
}

#slogan
{
	background-color: #333333;
	width: 40%;
	height: 100px;
	margin: -150px auto 100px;
	text-align: center;
	font-size: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#aboutBtn
{
	width: 15%;
	height: 50px;
	background-color: #333333;
	margin: -60px auto 50px; 
	color: white;
	font-size: 18px;
}

#textBox
{
	display: flex;
	flex-direction: column;
}

#iconContainer
{
	display: flex;
	flex-direction: row;
	margin-top: 200px; 	
	flex-wrap: wrap;
	min-width: 60%;
	max-width: 60%;
	margin-left: 300px;
	padding-bottom: 115px;
}

@media only screen and (max-width: 1680px) {
#iconContainer {
	margin-left: 175px;
	min-width: 65%;
	max-width: 65%;
	}
#logo {
	margin-left: ;
}
}
.iconSize
{
	background-color: #333333;
	height: 130px;
	width: 130px;
	margin-bottom: 120px;
	margin-left: 200px;
	padding-left: 30px;
}

#histDivider
{
	height: 200px;
	background-color: #333333;
	margin-bottom: 100px;
}

#histDivider h2
{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-align: center;
	font-size: 38px;
	padding-top: 20px;
	letter-spacing: 2px;
}

#histDivider p
{
	text-align: center;
	font-size: 20px;
	width: 70%;
	margin: 0 280px;
	line-height: 30px;
	letter-spacing: 1px;
}

#whiteBarHist
{
	height: 4px;
	margin: 30px auto;
	background-color: white;
	width: 120px;
}

#histExt
{
	color: black;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.histPara
{
	font-size: 18px;
	width: 75%;
	margin: 0 auto;
	line-height: 30px;
	letter-spacing: 1px;
}

#para2
{
	padding-top: 100px;
}

#histExt img
{
	padding: 0 100px 0 300px; 
}

#histImages
{
	display: flex;
	flex-direction: row;
	margin-top: 50px;
}

.imageText
{
	margin-top: -50px;
	margin-left: 200px;
	font-size: 20px;
	color: black;
	overflow: hidden;
	color: white;
}


