.hidden
{
	display: none;
}

@font-face {
    font-family: 'open_sansregular';
   	src: url('../fonts/OpenSans-Regular-webfont.woff') format('woff');     
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/OpenSans-Light-webfont.woff') format('woff'); 
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight_italic';
    src: url('../fonts/OpenSans-LightItalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'glacial_indifferencebold';
    src: url('../fonts/glacialindifference-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'glacial_indifferenceitalic';
    src: url('../fonts/glacialindifference-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'glacial_indifferenceregular';
    src: url('../fonts/glacialindifference-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

textarea {
	resize: none;
}

#mainHeader h2
{
  text-align: center;
  font-family: 'glacial_indifferencebold';
  color: white;
  letter-spacing: 1px;
  font-size: 9vw;
}

.blackBar {
	background-image: url(../images/navBck.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 20px;
}

#burgerCon {
  margin-top: 20px;
}

#burgerCon {
 display: none;
}

#burgerCon.toggleOn {
  display: block;
}

@keyframes slideOut {
	0% {left: -600px;}
	40% {left: 50px;}
	100% {left: 0;}
}

.topNav li img {
	display: none;
}

#burgerMenu.toggleOn span{
  position: relative;
  font-family: 'glacial_indifferenceregular';
  left: 93%;
  top: 0.5%;
  color: red;
  font-size: 28px;
  cursor: pointer;
  width: 5%;
}

#burgerMenu.toggleOn {
  background-color: grey;
  width: 50%;
  height: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
}

#burgerMenu.toggleOn li {
  padding-bottom: 10px;
  margin-top: 10px;
  padding-left: 5px;
  border-bottom: 3px solid white;
  font-size: 19.5px;
}

#burgerMenu.toggleOn li a {
  text-decoration: none;
  color: white;
}

#burgerMenu li:first-of-type {
  border-bottom: none;
}

.topNav {
  display: flex;
}

.topNav h2 {
  display: block !important;
}

#burgerCon.slideToggle {
  display: block;
}


.topNav {
	display: none;
}


.topNav ul li
{
	margin-left: 20px;
	padding: 25px 15px 0 20px;
	letter-spacing: 2px;
}

#homeAbout {
	display: none;
}

.topNav ul li a
{

	font-family: 'open_sansregular';
	font-size: 20px;
	text-decoration: none;
	transition: all .5s ease;
}

#button {
  background-image: url(../images/hamburgerIcon.png);
  background-size: contain;
  background-color: transparent !important;
  position: fixed;
  top: 20px;
  left: 10px;
  height: 45px !important;
  width: 45px;
}

.line { display: none; }

#homeTop {
	background-image: url(../images/hometop.png);
	background-size: cover;
	padding-top: 50px;
	padding-bottom: 0.03px;
	height: 300px;
}

#title {
	color: white;
	text-align: center;
	font-size: 9vw;
	font-family: 'glacial_indifferenceregular';
}

#slogan {
	color: white;
	text-align: center;
	font-size: 5vw;
	margin-top: 15px;
	font-family: 'open_sanslight';
}

#aboutText {
	color: white;
	font-family: 'open_sansregular';
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
}

#aboutBtn { display: none; }

#arrow {
	background-color: black;
	width: 25px;
	height: 40px;
	margin: 20px auto 30px auto;
}

#iconContainer {
	display: flex;
	flex-direction: row;
	margin-top: 29px !important;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 0 auto; 
}

#iconContainer div {
	flex-basis: 100px;
}

.iconSize {
	width: 50px;
	margin: 0 15px;
}

#iconContainer p {
	width: 100px;
	font-size: 8px;
	font-family: 'open_sansregular';
	padding-bottom: 10px;
}

.sportImg { width: 60px !important; }

#multiFish p { width: 100px !important; }

#histDivider {
	margin-top: 20px;
	background-color: green;
	color: white;
	height: 90px;
}

#histDivider h2 {
	font-family: 'glacial_indifferenceregular';
	font-size: 19px;
	text-align: center;
	padding-top: 10px;
	letter-spacing: 1px;
}

#whiteBarHist {
	background-color: white;
	height: 1px;
	width: 54px;
	margin: 7px auto;
}

#histDivider p {
	text-align: center;
	margin: 0 auto;
	padding-top: 7px;
	font-family: 'open_sansregular';
	font-size: 8px;
	width: 90%;
}

#histImages {
	display: flex;
	justify-content: space-evenly;
}

.histImage img { width: 135px; height: 115px; }

.imageText {
	font-family: 'open_sanslight';
	display: flex;
	justify-content: space-evenly;
	margin-top: -20px;
	font-size: 7.5px;
	color: white;
}

.histPara {
	font-family: 'open_sansregular';
	font-size: 8.1px;
	line-height: 10px;
	letter-spacing: 0.3px;
	width: 90%;
	margin: 10px auto;
}

.image3 { display: none; }

.text3 { 
	margin-left: 18px;
	display: none; 
}

/*Media Queries for mobile about list*/
@media screen and (min-width: 400px) {
	#iconContainer { width: 90%; }
}

@media screen and (min-width: 445px) {
	#iconContainer { width: 85%; }
}

@media screen and (min-width: 471px) {
	#iconContainer { width: 80%; }
}

@media screen and (min-width: 500px) {
	#iconContainer { width: 75%; }
	#histDivider p {
		width: 85%;
		font-size: 10px;
	}
}

@media screen and (min-width: 534px) {
	#iconContainer { width: 70%; }
}

@media screen and (min-width: 572px) {
	#iconContainer { width: 65%; }
}

@media screen and (min-width: 616px) {
	#iconContainer { width: 100%; }
	
	.iconSize { 
		width: 75px;
		padding: 0 40px 0 40px; 
	}
	
	#iconContainer p {
		font-size: 12px;
	 	margin-left: 30px;
	 	width: 150px; }
	.sportImg {
		width: 90px !important;
		margin-top: 12px;
	}
	#histDivider h2 {
		font-size: 29px !important;
	}
	#whiteBarHist {
		width: 75px !important;
	}
	#histDivider {
		height: 110px;
		margin-bottom: 30px;
	}
	#histDivider p {
		margin-top: -10px;
		font-size: 13px !important;
		width: 550px !important;
	}
	.histPara {
		font-size: 14px;
		line-height: 15px;
		width: 600px !important;
		margin-bottom: 20px;
		margin-top: 20px;
	}
	#histImages {
		width: 640px;
		margin: 0 auto;
	}
	.histImage img {
		width: 200px !important;
		height: 170px !important;
	}
	.imageText {
		font-size: 11.5px;
		margin-top: -30px;
	}
}
@media screen and (min-width: 755px) {
	.iconSize { 
		padding: 0 50px 0 50px; 
	}
	#iconContainer p {
	 	margin-left: 50px;
	}
}

@media screen and (min-width: 835px) {
	.iconSize { 
		padding: 0 60px 0 60px; 
	}
	#iconContainer p {
	 	margin-left: 60px;
	}
}

@media screen and (min-width: 915px) {
	.iconSize { 
		padding: 0 70px 0 70px; 
	}
		#iconContainer p {
	 	margin-left: 70px;
	}
		#histDivider p {
		width: 550px !important;
	}
}

@media screen and (min-width: 995px) {
		#iconContainer { width: 995px; }
	
	.iconSize { 
		width: 95px; }
	
	#iconContainer p {
	 	margin: 0 auto;
	 	width: 150px; }
	.sportImg {
		width: 110px !important;
		margin-top: 12px;
	}
	.iconSize { 
		padding: 0 80px 0 80px; 
	}
}

@media screen and (min-width: 1075px) {
	.iconSize { 
		padding: 0 90px 0 90px; 
	}
}


@media screen and (min-width: 482px) {
	#title {
		font-size: 7.5vw;
	}
	#slogan {
		font-size: 4vw;
	}
}

@media screen and (min-width: 670px) {
	#title {
		font-size: 7.1vw;
	}
}

@media screen and (min-width: 815px) {
	#title {
		font-size: 58px;
	}

	#slogan {
		font-size: 32px;
	}
}

@media screen and (min-width: 417px) {
	#histDivider h2 {
		font-size: 22px;
	}
	#whiteBarHist {
		width: 62px; 
	}
}


@media screen and (min-width: 490px) {
	.image3 {
		display: block;
	}
	.text3 {
		display: block;
	}
	.histPara {
		width: 450px;
	}
}


@media screen and (min-width: 1080px){
	#mainHeader h2 { display: none; }

	#homeAbout { display: block; }

.blackBar h2{
	background-color: rgba(0,0,0,0); 
	display: none;
}
.blackBar { background-color: rgba(51,51,51,0.5);
			background-image: none;
			height: 75px;
			margin-top: 100px;
			margin-bottom: 150px;
}

	#homeBck
{
	background-image: url(../images/bck2.png);
	background-repeat: no-repeat;
}

#mobileCon { display: none; }

#homeTop { background-image: none; }

#burgerMenu.toggleOn { padding-left: 25px; 
}
.topNav {
	margin-top: -20px !important;
		display: block !important;
	}

.navBck {
	background-image: url(../images/navBck.png);
	background-repeat: no-repeat;
}

.topNav ul
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: space-evenly;
}

.blackBarHome ul li {
	margin-top: 30px !important;
}

.topNav ul li
{
	margin-top: -60px;
	margin-left: -30px;
	padding: 25px 15px 0 20px;
	letter-spacing: 2px;
}

.topNav ul li a
{
	font-family: 'open_sansregular';
	font-size: 20px;
	color: white;
	text-decoration: none;
	transition: all .5s ease;
}

.topNav ul li a:hover
{
	box-shadow:
	1px 1px green,
	2px 2px green,
	3px 3px green;
}

#title
{
	display: flex;
	font-family: 'glacial_indifferenceregular';
	width: 760px;
	margin: 225px auto 0 auto;
	font-size: 90px;
	justify-content: center;
	text-align: center;
	color: white;
}

#slogan
{
	font-family: 'open_sanslight';
	margin: 50px auto 124px;
	text-align: center;
	font-size: 38px;
	display: flex;
	justify-content: center;
	color: white;
}

#aboutBtn
{
	display: block;
	border: 2px solid white;
	border-radius: 5px;
	width: 15%;
	height: 15px;
	background-color: #333333;
	margin: 0 auto 50px; 
	color: white;
	font-size: 18px;
	font-size: 24px;
	font-family: 'open_sansregular';
	text-decoration: none;
	padding: 10px 10px 20px 10px;
	text-align: center;
}
#logo
{
	margin-top: -15px;
	margin-bottom: 20px;
	height: 200px;
}
#button { display: none; }

#aboutText { display: none; }

#arrow { display: none; }
}